
:root {
	--base-font-size: 16px;
}

@font-face {
	font-family: breatheFire2;
	src: url('assets/fonts/breathe-fire-ii/breathe-fire-ii.otf');
}

body {
	margin: -0.1vh 2vw;
	background-image: url("assets/decorative/BG3.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;
}

h1 {
	font-family: breatheFire2;
	font-size: calc(3.5 * var(--base-font-size));
}

h2 {
	font-family: breatheFire2;
	font-size: calc(2.5 * var(--base-font-size));
}

#font-bar {
	z-index: 1;
	position: sticky;
	top: -0.1vh;
	margin: -2.5vh -2vw;
	display: inline-block;
	font-family: Verdana;
	text-align: right;
	width: 98.8vw;
	height: 3.5vh;
	background-color: #000;
}

.btn {
  border: none;
  color: #FFF;
  background-color: inherit;
  margin: 0 -0.1vw;
  line-height: 1em;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
}

.increase {
	margin-right: 50px;
}

nav {
	z-index: 1;
	position: sticky;
	top: 3.4vh;
	margin: -2.5vh -2vw;
	display: inline-block;
	text-align: right;
	width: 98.8vw;
	height: 7vh;
	background-color: #404040;
}

nav img {
	float: left;
	margin-left: 40px;
	margin-top: 0.2vw;
	width: 300px;
	height: 40px;
}

nav a {
	text-decoration: none;
	color: #F87730;
	margin-left: 10vw;
	font-family: breatheFire2, Verdana;
	font-size: 2em/*calc(2*var(--base-font-size))*/;
	line-height: 1.5em/*calc(2.75*var(--base-font-size))*/;
}

nav a[href*="index"] {
	text-decoration: underline;
}

a[href*="about"] {
	margin-right: 55px;
}

#landing {
	height: 100vh;
	text-align: center;
}

#landing img {
	position: relative;
	top: 12.5vw;
	width: 100%;
}

#landing h1 {
	color: #F87730;
	position: relative;
	top: 13vw;
}

#serviços {
	height: 100vh;
	text-align: center;
}

#serviços h1 {
	color: #F87730;
	margin-top: 3.5vw;
}

#prog {
	margin-top: -1.25vw;
}

#prog h2 {
	text-align: left;
	margin-left: 33.5vw;
}

#prog img {
	float: left;
	width: 30vw;
	margin-left: 40px;
}

#ilust {
	position: relative;
	bottom: -10vw;
}

#ilust h2 {
	text-align: right;
	margin-right: 33.5vw;
}

#ilust img {
	float: right;
	width: 30vw;
	margin-right: 30px;
}

#trabalhos {
	height: 100vh;
	text-align: center;
}

#trabalhos h1 {
	color: #F87730;
	margin-top: 3.5vw;
}

#vitrine {
	height: 35vw;
	width: 91vw;
	margin-left: 30px;
	margin-top: -1.75vw;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}

#vitrine img {
	width: 29vw;
	transition: 0.4s filter;
	filter: brightness(100%);
}

#vitrine img:hover {
	cursor: pointer;
	filter: brightness(35%);
}

#contato {
	height: 83vh;
	margin-left: 40px;
}

#contato h1 {
	color: #F87730;
	margin-top: 3.5vw;
}

#footnote {
	bottom: 3.4vh;
	margin: -2.5vh -3vw;
	display: inline-flex;
	font-family: Verdana;
	text-align: right;
	width: 99.8vw;
	height: 7vh;
	background-color: #404040;
}

#footnote p:nth-child(1) {
	text-align: left;
	margin-left: 80px;
}

#footnote p:nth-child(2) {
	text-align: right;
	margin-left: 800px;
}
