/*Declaração da variável para tamanho base das fontes redimensionáveis*/
:root {
	--base-font-size: 16px;
}

/*Fonte "personalizada" usada no site*/
@font-face {
	font-family: breatheFire2;
	src: url('assets/fonts/breathe-fire-ii/breathe-fire-ii.otf');
}

/*Código inicial para configurar aparência da página*/
body {
	margin: -0.1vh 2vw;
	background-image: url("assets/decorative/BG3.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;
}

h1 {
	font-family: breatheFire2;
	font-size: 4vw;
}

h2 {
	font-family: breatheFire2;
	font-size: 3vw;
}

p {
	font-family: Verdana;
	font-size: var(--base-font-size);
}

/*Configuração da barra de acessibilidade para fontes*/
#font-bar {
	z-index: 2;
	position: sticky;
	top: -0.1vh;
	margin: -2.5vh -2vw;
	display: inline-block;
	font-family: Verdana;
	text-align: right;
	width: 98.8vw;
	height: 3.5vh;
	background-color: #1E0D0F;
}

.btn {
  border: none;
  color: #F9F8D6;
  background-color: inherit;
  margin: 0 -0.1vw;
  line-height: 1em;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
}

/*O último elemento da barra de acessibilidade dá uma margem lateral*/
.increase {
	margin-right: 50px;
}

/*Configuração da barra de navegação do site*/
nav {
	z-index: 2;
	position: sticky;
	top: 3.4vh;
	margin: -2.5vh -2vw;
	display: inline-block;
	text-align: right;
	width: 98.8vw;
	height: 7vh;
	background-image: url("assets/decorative/BGMenu.png")
}

nav img {
	float: left;
	margin-left: 3vw;
	margin-top: 0.2vw;
	width: 22vw;
	height: 3vw;
}

nav a {
	text-decoration: none;
	color: #F87730;
	margin-left: 10vw;
	font-family: breatheFire2, Verdana;
	font-size: 2.3vw;
	line-height: 1.5em;
}

/*Destaque para o elemento que indica a página atual*/
nav a[href*="index"] {
	color: #F9F8D6;
	text-decoration: underline;
}

/*O último elemento da barra de navegação dá uma margem lateral*/
a[href*="about"] {
	margin-right: 55px;
}

/*Configuração para a "primeira tela" da página inicial*/
#landing {
	height: 100vh;
}

#landing img {
	position: relative;
	top: 12.5vw;
	left: 7vw;
	width: 20%;
}

#landing h1 {
	color: #F87730;
	font-size: 11.2vw;
	text-align: right;
	position: relative;
	right: 7vw;
	top: -15vw;
}

#landing h2 {
	color: #F87730;
	font-size: 4.1vw;
	text-align: right;
	position: relative;
	right: 7vw;
	top: -20vw;
}

/*Configuração para a "segunda tela" da página inicial*/
#serviços {
	height: 90vh;
	text-align: center;
	background-color: #0F213E;
	margin: 0 35px;
}

#serviços h1 {
	color: #F87730;
	padding-top: 2.5vw;
}

#serviços h2:nth-child(2) {
	color: #F9F8D6;
	padding-left: 18vw;
	text-align: left;
}

#serviços h2:nth-child(3) {
	color: #F9F8D6;
	text-align: right;
	padding-right: 16.5vw;
	margin-top: -6vw;
}

#serviços p:nth-child(5) {
	margin-left: 12.5vw;
	margin-top: 1.5vw;
	color: #F9F8D6;
	width: 25vw;
	text-align: justify;
}

#serviços p:nth-child(6) {
	margin-left: 52vw;
	margin-top: -8vw;
	color: #F9F8D6;
	width: 25vw;
	text-align: justify;
}

#serviços #stones {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	margin: -1vw auto;
}

/*Configuração para a "terceira tela" da página inicial*/
#trabalhos {
	height: 100vh;
	text-align: center;
}

#trabalhos h1 {
	color: #F87730;
	margin-top: 3.5vw;
}

#vitrine {
	height: 35vw;
	width: 91vw;
	margin-left: 30px;
	margin-top: -1.75vw;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}

#vitrine img {
	width: 29vw;
	height: 25vw;
	transition: 0.4s filter;
	filter: brightness(100%);
}

/*Código responsável pelo efeito de fade na capa do primeiro trabalho*/
#vitrine a:nth-child(1) h3 {
	text-decoration: none;
	color: #F9F8D6;
	font-family: breatheFire2, Verdana;
	font-size: 3vw;
	left: 8vw;
	margin-top: -22vw;
	position: absolute;
	z-index: 1;
	transition: 0.4s filter;
	filter: opacity(0%);
}

#vitrine a:nth-child(1) p {
	text-decoration: none;
	color: #F9F8D6;
	font-family: Verdana;
	font-size: 2vw;
	left: 6.5vw;
	margin-top: -15vw;
	position: absolute;
	z-index: 1;
	transition: 0.4s filter;
	filter: opacity(0%);
}

#vitrine a:nth-child(1) img:hover{
	cursor: pointer;
	filter: brightness(25%);
}

#vitrine a:nth-child(1) img:hover ~ h3 {
	filter: opacity(100%);
}

#vitrine a:nth-child(1) img:hover ~ p {
	filter: opacity(100%);
}

/*Código responsável pelo efeito de fade na capa do segundo trabalho*/
#vitrine a:nth-child(2) h3 {
	text-decoration: none;
	color: #F9F8D6;
	font-family: breatheFire2, Verdana;
	font-size: 3vw;
	left: 40vw;
	margin-top: -22vw;
	position: absolute;
	z-index: 1;
	transition: 0.4s filter;
	filter: opacity(0%);
}

#vitrine a:nth-child(2) p {
	text-decoration: none;
	color: #F9F8D6;
	font-family: Verdana;
	font-size: 2vw;
	left: 36.5vw;
	margin-top: -15vw;
	position: absolute;
	z-index: 1;
	transition: 0.4s filter;
	filter: opacity(0%);
}

#vitrine a:nth-child(2) img:hover{
	cursor: pointer;
	filter: brightness(25%);
}

#vitrine a:nth-child(2) img:hover ~ h3 {
	cursor: pointer;
	filter: opacity(100%);
}

#vitrine a:nth-child(2) img:hover ~ p {
	filter: opacity(100%);
}

/*Código responsável pelo efeito de fade na capa do terceiro trabalho*/
#vitrine a:nth-child(3) h3 {
	text-decoration: none;
	color: #F9F8D6;
	font-family: breatheFire2, Verdana;
	font-size: 3vw;
	left: 71vw;
	margin-top: -22vw;
	position: absolute;
	z-index: 1;
	transition: 0.4s filter;
	filter: opacity(0%);
}

#vitrine a:nth-child(3) p {
	text-decoration: none;
	color: #F9F8D6;
	font-family: Verdana;
	font-size: 2vw;
	left: 69vw;
	margin-top: -15vw;
	position: absolute;
	z-index: 1;
	transition: 0.4s filter;
	filter: opacity(0%);
}

#vitrine a:nth-child(3) img:hover{
	cursor: pointer;
	filter: brightness(25%);
}

#vitrine a:nth-child(3) img:hover ~ h3 {
	cursor: pointer;
	filter: opacity(100%);
}

#vitrine a:nth-child(3) img:hover ~ p {
	filter: opacity(100%);
}

/*Configuração para a "quarta tela" da página inicial*/
#contato {
	height: 83vh;
	margin-left: 40px;
}

#contato h1 {
	color: #F87730;
	padding-top: 4vw;
}

#contato img {
	z-index: -1;
	transform: scaleX(-1);
	margin-top: -24vw;
	margin-left: 18vw;
	width: 75%;
	height: 75%;
}

#formulario {
	z-index: 2;
	margin-top: -2vw;
}

#formulario #email {
	font-family: Verdana;
	font-size: var(--base-font-size);
	width: 15vw;
}

#formulario #assunto {
	font-family: Verdana;
	font-size: var(--base-font-size);
	width: 15vw;
}

#formulario #mensagem {
	font-family: Verdana;
	font-size: var(--base-font-size);
	margin-top: 0.5vw;
	width: 30.7vw;
	height: 20vw;
	resize: none;
}

#formulario #enviar {
	font-family: Verdana;
	width: 10vw;
	height: 3vw;
}

/*Configuração para o rodapé*/
#footnote {
	bottom: 3.4vh;
	color: #F9F8D6;
	margin: 0 -3vw -15vw;
	display: inline-flex;
	font-family: Verdana;
	line-height: 1vw;
	text-align: right;
	width: 99.8vw;
	height: 7vh;
	background-image: url("assets/decorative/Rodapé.png")
}

#footnote p:nth-child(1) {
	text-align: left;
	margin-left: 5.8vw;
	font-size: 1.2vw;
}

#footnote p:nth-child(2) {
	text-align: right;
	margin-left: 56.7vw;
	font-size: 1.2vw;
}
