/*Declaração da variável para tamanho base das fontes redimensionáveis*/
:root {
	--base-font-size: 16px;
}

/*Fonte "personalizada" usada no site*/
@font-face {
	font-family: breatheFire2;
	src: url('assets/fonts/breathe-fire-ii/breathe-fire-ii.otf');
}

/*Classe para tornar âncoras mais precisas*/
.anchor {
   display: block;
   height: 180px;
   margin-top: -180px;
   visibility: hidden;
}

/*Código inicial para configurar aparência da página*/
body {
	margin: -0.1vh 2vw;
	background-image: url("assets/decorative/BG3.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;
}

h1 {
	font-family: breatheFire2;
	text-align: center;
	margin-top: 3.5vw;
	color: #F87730;
	font-size: 4vw;
}

/*Configuração da barra de acessibilidade para fontes*/
#font-bar {
	z-index: 3;
	position: sticky;
	top: -0.1vh;
	margin: -2.5vh -2vw;
	display: inline-block;
	font-family: Verdana;
	text-align: right;
	width: 100vw;
	height: 3.5vh;
	background-color: #1E0D0F;
}

.btn {
  border: none;
  color: #F9F8D6;
  background-color: inherit;
  margin: 0 -0.1vw;
  line-height: 1em;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
}

/*O último elemento da barra de acessibilidade dá uma margem lateral*/
.increase {
	margin-right: 3.5vw;
}

/*Configuração da barra de navegação do site*/
nav {
	z-index: 3;
	position: sticky;
	top: 3.4vh;
	margin: -2.5vh -2vw;
	display: inline-block;
	text-align: right;
	width: 100vw;
	height: 7vh;
	background-image: url("assets/decorative/BGMenu.png")
}

nav img {
	float: left;
	margin-left: 3vw;
	margin-top: 0.2vw;
	width: 22vw;
	height: 3vw;
}

nav a {
	text-decoration: none;
	color: #F87730;
	margin-left: 10vw;
	font-family: breatheFire2, Verdana;
	font-size: 2.3vw;
	line-height: 1.5em/*calc(2.75*var(--base-font-size))*/;
}

/*Destaque para o elemento que indica a página atual*/
nav a[href*="works"] {
	color: #F9F8D6;
	text-decoration: underline;
}

/*O último elemento da barra de navegação dá uma margem lateral*/
a[href*="about"] {
	margin-right: 4vw;
}

#reservoir h1 {
	text-align: left;
	margin-left: 3vw;
	margin-top: 0.5vw;
}

#reservoir p {
	font-family: Verdana;
	color: #F9F8D6;
	text-align-last: left;
	margin-top: 2vw;
	margin-left: 70vw;
}

#reservoir .content {
	margin-top: -7vw;
}

#megamania h1 {
	text-align: left;
	margin-left: 3vw;
	margin-top: 0.5vw;
}

#megamania .content {
	margin-top: -7vw;
}

#visage h1 {
	text-align: left;
	margin-left: 3vw;
	margin-top: 0.5vw;
}

#visage .content {
	margin-top: -7vw;
}

/*Isola um espaço na tela que vai ser usado para definir melhor o slider*/
.content { 
	position: relative;
	width: 900px;
	height: 525px;
	z-index: 1;
	margin: 0 auto;
}

/*Configurações da aparência do Slick Slider*/
 /*Oculta contúdo que possa sobrar*/
.slick-initialized {
	overflow: hidden;
}

/*Posicionamento do slider de navegação*/
.slider-nav {
	width: 30%;
	float: left;
	margin-left: -18%;
	z-index: 1;
	margin-top: 2%;
}

/*Dimensionamento das imagens exibidas na navegação*/
.slider-nav img {
	width: 100px;
	height: 100px;
	margin: 5px;
}

/*Deixa claro que as imagens podem ser clicadas*/
.slider-nav img:hover {
	cursor: pointer;
}

/*Posicionamento da imagem selecionada que será exibida*/
.show {
	width: 65%;
	height: 300px;
	float: right;
	margin-top: 8%;
	margin-right: 20%;
}

/*Dimensionamento da imagem em forma de link*/
.slider-show a {
	float: left;
	width: 100%;
	height: 330px;
}

/*Dimensionamento da exibição da imagem*/
.slider-show img {
	width: 100%;
	height: 330px;
}

/* LightBOX */
#bg, #bg2, #bg3, #bg4, #bg5, #bg6, #bg7, #bg8, #bg9 {
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8); /* 0.8 é a opacidade, para escurecer a tela quando aparecer o "pop-up" */
	position: fixed;
	display: none; /*Para o fade-out só aparecer quando precisar*/
}

/*Switch do fadeout*/
#bg:target, #bg2:target, #bg3:target, #bg4:target, #bg5:target, #bg6:target, #bg7:target, #bg8:target, #bg9:target {
	display:block; 
}

#bg:target ~ .box1, #bg2:target ~ .box1, #bg3:target ~ .box1, #bg4:target ~ .box1, #bg5:target ~ .box1, #bg6:target ~ .box1, #bg7:target ~ .box1, #bg8:target ~ .box1, #bg9:target ~ .box1 { /* mostra a  imagem */
	top: 150px;
	transition all: 0.3s;
	transition-delay: 0.2s;
}

/*Configura aparência da imagem a ser exibida em zoom*/
.box1 {
	z-index: 1;
	height: 500px;
	width: 80vw;
	position: absolute;
	margin-left: 10vw;
	top: 10vw;
}

/*Dimensionamento da imagem exibida*/
.box1 img {
	width: 80vw;
	height: 70vh;
	position: absolute;
}

/*Botão para fechar exibição em zoom*/
#close {
	color: #F9F8D6;
	font-family: Verdana;
	text-decoration: none;
	font-size: 35px; 
	position: absolute;
	background-color: #F87730;
	width: 40px;
	height: 40px;
	text-align: center;
	right: 0; /*Posição do botão*/
}

#close:hover {
	opacity: 0.6;
}

/*Configuração para o rodapé*/
#footnote {
	margin: -20vw -2vw;
	color: #F9F8D6;
	display: inline-flex;
	font-family: Verdana;
	text-align: right;
	width: 100vw;
	height: 7vh;
	background-image: url("assets/decorative/Rodapé.png")
}

#footnote p:nth-child(1) {
	text-align: left;
	margin-left: 70px;
}

#footnote p:nth-child(2) {
	text-align: right;
	margin-left: 59.2vw;
}
