
:root {
	--base-font-size: 16px;
}

@font-face {
	font-family: breatheFire2;
	src: url('assets/fonts/breathe-fire-ii/breathe-fire-ii.otf');
}

body {
	margin: -0.1vh 2vw;
	background-image: url("assets/decorative/BG3.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;
}

h1 {
	font-family: breatheFire2;
	font-size: calc(3.5 * var(--base-font-size));
}

#font-bar {
	z-index: 1;
	position: sticky;
	top: -0.1vh;
	margin: -2.5vh -2vw;
	display: inline-block;
	font-family: Verdana;
	text-align: right;
	width: 100vw;
	height: 3.5vh;
	background-color: #000;
}

.btn {
  border: none;
  color: #FFF;
  background-color: inherit;
  margin: 0 -0.1vw;
  line-height: 1em;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
}

.increase {
	margin-right: 3.5vw;
}

nav {
	z-index: 1;
	position: sticky;
	top: 3.4vh;
	margin: -2.5vh -2vw;
	display: inline-block;
	text-align: right;
	width: 100vw;
	height: 7vh;
	background-color: #404040;
}

nav img {
	float: left;
	margin-left: 1vw;
	margin-top: 0.2vw;
	width: 300px;
	height: 40px;
}

nav a {
	text-decoration: none;
	color: #F87730;
	margin-left: 10vw;
	font-family: breatheFire2, Verdana;
	font-size: 2em/*calc(2*var(--base-font-size))*/;
	line-height: 1.5em/*calc(2.75*var(--base-font-size))*/;
}

nav a[href*="works"] {
	text-decoration: underline;
}

a[href*="about"] {
	margin-right: 4vw;
}

#footnote {
	margin: -1vh -2vw;
	display: inline-flex;
	font-family: Verdana;
	text-align: right;
	width: 100vw;
	height: 7vh;
	background-color: #404040;
}

#footnote p:nth-child(1) {
	text-align: left;
	margin-left: 3.5vw;
}

#footnote p:nth-child(2) {
	text-align: right;
	margin-left: 61.5vw;
}
